@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes zoom-in {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  .animate-zoom-in-stick {
    animation: zoom-in 1.3s ease-in-out forwards;
  }
 

  .table-auto::-webkit-scrollbar,.main-body-right::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .table-auto,.main-body-right {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }







  /* .button-container {
    display: flex;
  }
  
  button {
    margin-right: -1px; 
    transition: background-color 0.3s;
  }
  
  button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
   */
